.usa-accordion.usa-tabs {
    h4 {
      background-color: transparent;
   
      .usa-accordion__button {
        background-color: $light-grey;
        color: $bg-med-blue;
        padding-right: 2rem;
        border-bottom-color: transparent;
        &[aria-expanded="true"] {
          background-color: $bg-med-blue;
          color: $basic-white;
          background-image: none;
        }
        &[aria-expanded="false"] {
          background-image: none;
        }
      }
    }
    .usa-accordion__content {
      border-top: 4px solid $bg-med-blue;
      &[aria-hidden="false"] {
        background-color: #fff;
        margin-top: -2px;
      }
    }
  }
  @media screen and (min-width: 640px) {
    .usa-accordion.usa-tabs {
      width: auto;
      h4 {
        display: inline;
        width: auto;
   
        .usa-accordion__button {
          width: auto;
          display: inline-block;
          clear: both;
        }
      }
      .usa-accordion__content {
        float: left;
        clear: both;
        width: 100%;
      }
    }
  }