.header-container{
    display: flex;
    background-color: $header-footer-background-color;
    padding: 15px;
    position: fixed;
    min-height: 80px;
    width: 100%;
    z-index: 2;
    top: 0;
    
}
.top-container{
    header{height:auto;background:transparent;}
    header.usa-banner__header, .usa-banner__content{
        color: white;
    }
    background-color: black;
    padding:2px 1rem;
    font-size: .75rem;
    font-family: 'Roboto', Helvetica, sans-serif;
    .usa-banner__button{color:$skycolor;}
    .usa-banner__button:after{background-color:$skycolor;}
    .usa-banner{
        background-color: transparent;
        .usa-accordion{
            color:white;
        }
    }
}
.logo-title{
    display: flex;
    img{
        height: 38px;
        margin-top: 47px; 
    } 
}
.title{
    margin-top: 42px;
    &:hover{
        cursor: pointer;
        color: $inkcolor;
    }
    @media (max-width: $grid-md-max){  //USWDS tablet large breakpoint (880px)
        margin-top: 48px; 
    }
    a{
        text-decoration: none;
        color: $inkcolor;
        font-size: 28px;
        @media (max-width: $grid-md-max){  //USWDS tablet large breakpoint (880px)
            font-size: 25px; 
        }
    }  
}
