$navycolor: {{ site.data.colors[0].value}};
$denimcolor: {{ site.data.colors[1].value }};
$midnightcolor: {{ site.data.colors[2].value }};
$skycolor: {{ site.data.colors[3].value }};
$azurecolor: {{ site.data.colors[4].value }};
$teacolor: {{ site.data.colors[5].value }};
$limecolor: {{ site.data.colors[6].value }};
$emeraldcolor: {{ site.data.colors[7].value }};
$forestcolor: {{ site.data.colors[8].value }};
$huntercolor: {{ site.data.colors[9].value }};
$cloudcolor: {{ site.data.colors[10].value }};
$fogcolor: {{ site.data.colors[11].value }};
$smokecolor: {{ site.data.colors[12].value }};
$charcoalcolor: {{ site.data.colors[13].value }};
$lemoncolor: {{ site.data.colors[14].value }};
$pumpkincolor: {{ site.data.colors[15].value }};
$scarletcolor: {{ site.data.colors[16].value }};
