.page__header{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.sort__by{
    margin-top: 90px;
}
.announcements_section{
    margin-top: 30px;
}
.announcement-wrapper{
    margin-bottom: 30px;
    border-bottom: solid black 2px;
    padding: 15px;
}
.announcement-header{
    display: grid;
    grid-template-columns: auto auto;
}
.announcement{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.announcement-link{
    margin-top: 20px;
}