.header{
  margin-right: 40px;
  margin-left: 40px;
}
  
  
  h4{
    font-weight: bold;
  }

  .workshop__collection{
    padding-bottom: 20px;
  }
  .workshop__links{
    display: inline;
  }
  .faq__question{
    font-weight: bold;
  }
  .legend ul{
    border: solid 1px #ddd;
    padding: 10px;
    margin-top: 15px;
  }
  .legend li{
    display: inline-block;
    margin: auto;
  }

  .two-col{
    display: grid;
    grid-template-columns: auto auto;
  }

  .chapters p{
    font-weight: bold;
  }