.filters{
    padding-top: 30px;
}
.main-content{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.announcements_section{
    margin-top: 30px;
    margin-left: 2rem;
}
.announcement-wrapper{
    margin-bottom: 30px;
    padding: 15px;
}
.announcement-header{
    display: grid;
    grid-template-columns: auto auto;
}
.announcement{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.announcement-link{
    margin-top: 20px;
    margin-right: 10px;
}
.usa-breadcrumb{
    position: absolute;
    z-index: 3;
    color: white;
}
.usa-breadcrumb__link{
    color: white;
}
.usa-breadcrumb__link:visited{
    color: white;
}
.hero-image{
    background-size: cover;
    height: 300px;
    width: 100%;
    padding-top: 0;
    position: relative;
}
.overlay {
    position: absolute; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 300px; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }
.intro-text{
    bottom: 10px;
    position: absolute;
    color: white;
    top: 0;
    z-index: 3;
    padding: 2rem;
    overflow: hidden;
    text-overflow: ellipsis;
    /* white-space: nowrap; */
    left: 0;
    right: 80px;
}
//highlights
.highlight-tags{
    padding-top: 0%;
}