.usa-button-group--segmented .usa-button{
    position: static;
    background-color: $denimcolor;
    color:white;
    &:hover{
        background-color: $midnightcolor;
        color:white;
    }
}
.usa-button.usa-button--outline {
    background-color: transparent;
    box-shadow: inset 0 0 0 2px $denimcolor;
    color: $denimcolor;
}
.usa-button.usa-button--accent-warm, .usa-button.usa-button--accent-warm:visited {
    color: #1b1b1b;
    background-color: $pumpkincolor;
    &:hover{
        background-color: $scarletcolor;
    }
}
.usa-button.usa-button--base{
    background-color: white;
    box-shadow: inset 0 0 0 2px $cloudcolor;
    color:$cloudcolor;
    cursor: not-allowed;
    &:hover{
        background-color: white;
        color:$cloudcolor;
    }
}