---
layout: left-rail
---
<link href="/assets/css/proto/agencies.scss" rel="stylesheet">

<div class="{{ page.cards.class | default: 'gray-wrapper' }}">
    <ul class="usa-card-group">
      {% for item in site.data.contentful.spaces.card-landing-page.agencies.cards %}
        <li class="{{ page.cards.columns | default: 'tablet:grid-col-3'}} usa-card usa-card--title-only">
          <a href="https://globalchange.netlify.app/prototype/agency-details/">
          <div class="usa-card__container">
            <div class="usa-card__body">
              <img src="{{item.img}}"/>
              <h5 class="agency-title">{{ item.title}}</h5>
            </div>
          </div>
            </a>
        </li>
      {% endfor %}
    </ul>
  </div>