---
layout: proto/left-rail
---
<link href="/assets/css/proto/agency-details.scss" rel="stylesheet">

<div class="header">
    <h1>{{site.data.contentful.spaces.agency-details-page.agency-details.agencyDetails[0].agency_title}}</h1>
</div>
<div class="highlight-image">
    <img class="agency-icon" src="{{site.data.contentful.spaces.agency-details-page.agency-details.agencyDetails[0].agency_logo}}"/>
    <div class="caption-container">
        <span class="caption"><small>{{page.caption}}</small></span>
    </div>
</div>
<div clsss="highlight-content">
    {{site.data.contentful.spaces.agency-details-page.agency-details.agencyDetails[0].body_content | markdownify}}
</div>
<div class="highlight-agency">
    <h3 id="highlight__agency">Related Resources</h3>
    <ul>
      <li><a href="">Highlighted USDA Activities</a></li>
      <li><a href="">USDA Climate Hubs</a></li>
      <li><a href="">Forest Service (USDA-FS) - Climate Change</a></li>
      <li><a href="">Economic Research Service (ERS) - Climate Change</a></li>
    </ul>
</div>