---
layout: left-rail
---
<link href="/assets/css/proto/collections-landing.scss" rel="stylesheet">

<div class="page__header">
    <div class="sort__by">
        <label for="agency">Agency:</label>
        <select name="filters" id="filters">
            <option value="date">Agency</option>
            <option value="author">Agency</option>
            <option value="date">Agency</option>
            <option value="author">Agency</option>
        </select>
        <label for="keyword">Keywords:</label>
        <select name="filters" id="filters">
            <option value="date">Keyword</option>
            <option value="author">Keyword</option>
            <option value="date">Keyword</option>
            <option value="author">Keyword</option>
        </select>
    </div>
</div>
<div class="intro-text">
    {{page.intro-text}}
</div>
<div class="announcements_section">
    {%for item in page.announcements%}
    <div class="announcement-wrapper">
        <div class="announcement">
            <img src="{{item.img}}"/>
            <div class="announcement-content">
                <div class="announcement-header">
                    <h4>{{item.title}}</h4>
                    <span>{{item.date}}</span>
                </div>
                <p>Author: {{item.author}}</p>
                <p>{{item.content}}</p>
                <a href="" class="announcement-link">{{item.link}}</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
<div class="pagination">
    {% include patterns/pagination/pagination.md %}
</div>