---
layout: left-rail
---
<link href="/assets/css/proto/collections-landing.scss" rel="stylesheet">

<div class="header">
    {%if page.hero-image%}
        <div class="hero">
            <img src="{{page.hero-image}}"/>
        </div>
    {%endif%}
    <div class="intro-text">
        {{page.intro-text}}
    </div>
    <div class="filters">
        {%include patterns/accordion/accordion-jk.md%}
    </div>
</div>
<div class="announcements_section">
    {%for item in page.announcements%}
    <div class="announcement-wrapper">
        <div class="announcement">
            <img src="{{item.img}}"/>
            <div class="announcement-content">
                <div class="announcement-header">
                    <h4>{{item.title}}</h4>
                    <span>{{item.date}}</span>
                </div>
                <p>Author: {{item.author}}</p>
                <p>{{item.content}}</p>
                <a href="" class="announcement-link">{{item.link}}</a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
<div class="pagination">
    {% include patterns/pagination/pagination.md %}
</div>