---
layout: default
---
<link href="/assets/css/proto/assessments.scss" rel="stylesheet">
<div class="grid-container">
    <div class="tabs">
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs__label">Overview</label>
        <div class="tabs__content">
            <h3>Overview</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. In vitae turpis massa sed. Et odio pellentesque diam volutpat commodo sed 
                egestas egestas fringilla. Amet cursus sit amet dictum sit amet justo donec. Porta lorem mollis 
                aliquam ut porttitor. Netus et malesuada fames ac turpis egestas sed tempus urna. Viverra tellus 
                in hac habitasse. Elementum curabitur vitae nunc sed velit dignissim. Cum sociis natoque penatibus 
                et. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis.
            </p>
            <p>
                Leo urna molestie at elementum eu facilisis sed odio morbi. Consequat id porta nibh venenatis cras 
                sed felis. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Eget velit aliquet sagittis 
                id consectetur purus ut faucibus. Cursus mattis molestie a iaculis at. Morbi tristique senectus et 
                netus et malesuada. Elementum eu facilisis sed odio morbi. Ut placerat orci nulla pellentesque 
                dignissim enim sit amet. Tristique senectus et netus et. Et ligula ullamcorper malesuada proin 
                libero. Lacus vestibulum sed arcu non odio euismod lacinia at.
            </p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab2">
        <label for="tab2" class="tabs__label">Mandate</label>
        <div class="tabs__content">
            <h3>Mandate</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. In vitae turpis massa sed. Et odio pellentesque diam volutpat commodo sed 
                egestas egestas fringilla. Amet cursus sit amet dictum sit amet justo donec. Porta lorem mollis 
                aliquam ut porttitor. Netus et malesuada fames ac turpis egestas sed tempus urna. Viverra tellus 
                in hac habitasse. Elementum curabitur vitae nunc sed velit dignissim. Cum sociis natoque penatibus 
                et. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis.
            </p>
            <p>
                Leo urna molestie at elementum eu facilisis sed odio morbi. Consequat id porta nibh venenatis cras 
                sed felis. Lorem sed risus ultricies tristique nulla aliquet enim tortor. Eget velit aliquet sagittis 
                id consectetur purus ut faucibus. Cursus mattis molestie a iaculis at. Morbi tristique senectus et 
                netus et malesuada. Elementum eu facilisis sed odio morbi. Ut placerat orci nulla pellentesque 
                dignissim enim sit amet. Tristique senectus et netus et. Et ligula ullamcorper malesuada proin 
                libero. Lacus vestibulum sed arcu non odio euismod lacinia at.
            </p>
            <p>
                Cursus mattis molestie a iaculis at. Morbi tristique senectus et 
                netus et malesuada. Elementum eu facilisis sed odio morbi. Ut placerat orci nulla pellentesque 
                dignissim enim sit amet. Tristique senectus et netus et:
            </p>
            <ul>
                <li>
                    <p>
                        Nibh ipsum consequat nisl vel pretium lectus quam. Risus sed vulputate odio ut enim. In 
                        cursus turpis massa tincidunt dui ut. Dapibus ultrices in iaculis nunc sed augue. 
                        Rhoncus aenean vel elit scelerisque mauris pellentesque. Eget felis eget nunc lobortis 
                        mattis aliquam faucibus purus in.
                    </p>
                </li>
                <li>
                    <p>
                        Cursus mattis molestie a iaculis. Faucibus pulvinar elementum integer enim neque volutpat 
                        ac tincidunt. Vulputate eu scelerisque felis imperdiet proin fermentum leo vel. Ut aliquam 
                        purus sit amet luctus venenatis.
                    </p>
                </li>
                <li>
                    <p>
                        Egestas quis ipsum suspendisse ultrices gravida dictum. Sapien et ligula ullamcorper 
                        malesuada proin libero nunc consequat interdum. Nisl nunc mi ipsum faucibus vitae. Neque 
                        aliquam vestibulum morbi blandit. Massa id neque aliquam vestibulum. Viverra aliquet eget 
                        sit amet tellus cras adipiscing enim.
                    </p>
                </li>
            </ul>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab3">
        <label for="tab3" class="tabs__label">Chapters</label>
        <div class="tabs__content">
            <h3>Chapters</h3>
            <h4 class="chapter__title">Chapter Title</h4>
            <ul>
                <li>Subtopic</li>
                <li>Subtopic</li>
                <li>Subtopic</li>
            </ul>
            <h4 class="chapter__title">Chapter Title</h4>
            <ul>
                <li>Subtopic</li>
                <li>Subtopic</li>
                <li>Subtopic</li>
                <li>Subtopic</li>
            </ul>
            <h4 class="chapter__title">Chapter Title</h4>
            <ul>
                <li>Subtopic</li>
                <li>Subtopic</li>
                <li>Subtopic</li>
            </ul>
            <h4 class="chapter__title">Chapter Title</h4>
            <ul>
                <li>Subtopic</li>
                <li>Subtopic</li>
            </ul>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab4">
        <label for="tab4" class="tabs__label">Roles</label>
        <div class="tabs__content">
            <h3>Roles</h3>
            <ul>
                <li>
                    <h4>Participant</h4>
                    <p>Role Description</p>
                </li>
                <li>
                    <h4>Participant</h4>
                    <p>Role Description</p>
                </li>
                <li>
                    <h4>Participant</h4>
                    <p>Role Description</p>
                </li>
                <li>
                    <h4>Participant</h4>
                    <p>Role Description</p>
                </li>
                <li>
                    <h4>Participant</h4>
                    <p>Role Description</p>
                </li>
            </ul>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab5">
        <label for="tab5" class="tabs__label">Leadership</label>
        <div class="tabs__content">
            <h3>Leadership</h3>
            <h4>Chapter Title</h4>
            <ul class="usa-card-group">
                <li class="usa-card usa-card--flag  desktop:grid-col-6">
                  <div class="usa-card__container">
                    <div class="usa-card__header">
                      <h2 class="usa-card__heading">Default flag</h2>
                    </div>
                    <div class="usa-card__media">
                      <div class="usa-card__img">
                        <img
                          src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                          alt="A placeholder image"
                        />
                      </div>
                    </div>
                    <div class="usa-card__body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="usa-card__footer">
                      <button class="usa-button">Visit Florida Keys</button>
                    </div>
                  </div>
                  </li>
                </ul>
                <ul class="usa-card-group">
                    <li class="usa-card usa-card--flag  desktop:grid-col-6">
                      <div class="usa-card__container">
                        <div class="usa-card__header">
                          <h2 class="usa-card__heading">Default flag</h2>
                        </div>
                        <div class="usa-card__media">
                          <div class="usa-card__img">
                            <img
                              src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                              alt="A placeholder image"
                            />
                          </div>
                        </div>
                        <div class="usa-card__body">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="usa-card__footer">
                          <button class="usa-button">Visit Florida Keys</button>
                        </div>
                      </div>
                      </li>
                    </ul>
                    <ul class="usa-card-group">
                        <li class="usa-card usa-card--flag  desktop:grid-col-6">
                          <div class="usa-card__container">
                            <div class="usa-card__header">
                              <h2 class="usa-card__heading">Default flag</h2>
                            </div>
                            <div class="usa-card__media">
                              <div class="usa-card__img">
                                <img
                                  src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                                  alt="A placeholder image"
                                />
                              </div>
                            </div>
                            <div class="usa-card__body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="usa-card__footer">
                              <button class="usa-button">Visit Florida Keys</button>
                            </div>
                          </div>
                          </li>
                        </ul>
            <h4>Chapter Title</h4>
            <ul class="usa-card-group">
                <li class="usa-card usa-card--flag  desktop:grid-col-6">
                  <div class="usa-card__container">
                    <div class="usa-card__header">
                      <h2 class="usa-card__heading">Default flag</h2>
                    </div>
                    <div class="usa-card__media">
                      <div class="usa-card__img">
                        <img
                          src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                          alt="A placeholder image"
                        />
                      </div>
                    </div>
                    <div class="usa-card__body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="usa-card__footer">
                      <button class="usa-button">Visit Florida Keys</button>
                    </div>
                  </div>
                  </li>
                </ul>
                <ul class="usa-card-group">
                    <li class="usa-card usa-card--flag  desktop:grid-col-6">
                      <div class="usa-card__container">
                        <div class="usa-card__header">
                          <h2 class="usa-card__heading">Default flag</h2>
                        </div>
                        <div class="usa-card__media">
                          <div class="usa-card__img">
                            <img
                              src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                              alt="A placeholder image"
                            />
                          </div>
                        </div>
                        <div class="usa-card__body">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="usa-card__footer">
                          <button class="usa-button">Visit Florida Keys</button>
                        </div>
                      </div>
                      </li>
                    </ul>
                    <ul class="usa-card-group">
                        <li class="usa-card usa-card--flag  desktop:grid-col-6">
                          <div class="usa-card__container">
                            <div class="usa-card__header">
                              <h2 class="usa-card__heading">Default flag</h2>
                            </div>
                            <div class="usa-card__media">
                              <div class="usa-card__img">
                                <img
                                  src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                                  alt="A placeholder image"
                                />
                              </div>
                            </div>
                            <div class="usa-card__body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="usa-card__footer">
                              <button class="usa-button">Visit Florida Keys</button>
                            </div>
                          </div>
                          </li>
                        </ul>
            <h4>Chapter Title</h4>
            <ul class="usa-card-group">
                <li class="usa-card usa-card--flag  desktop:grid-col-6">
                  <div class="usa-card__container">
                    <div class="usa-card__header">
                      <h2 class="usa-card__heading">Default flag</h2>
                    </div>
                    <div class="usa-card__media">
                      <div class="usa-card__img">
                        <img
                          src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                          alt="A placeholder image"
                        />
                      </div>
                    </div>
                    <div class="usa-card__body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="usa-card__footer">
                      <button class="usa-button">Visit Florida Keys</button>
                    </div>
                  </div>
                  </li>
                </ul>
                <ul class="usa-card-group">
                    <li class="usa-card usa-card--flag  desktop:grid-col-6">
                      <div class="usa-card__container">
                        <div class="usa-card__header">
                          <h2 class="usa-card__heading">Default flag</h2>
                        </div>
                        <div class="usa-card__media">
                          <div class="usa-card__img">
                            <img
                              src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                              alt="A placeholder image"
                            />
                          </div>
                        </div>
                        <div class="usa-card__body">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="usa-card__footer">
                          <button class="usa-button">Visit Florida Keys</button>
                        </div>
                      </div>
                      </li>
                    </ul>
                    <ul class="usa-card-group">
                        <li class="usa-card usa-card--flag  desktop:grid-col-6">
                          <div class="usa-card__container">
                            <div class="usa-card__header">
                              <h2 class="usa-card__heading">Default flag</h2>
                            </div>
                            <div class="usa-card__media">
                              <div class="usa-card__img">
                                <img
                                  src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                                  alt="A placeholder image"
                                />
                              </div>
                            </div>
                            <div class="usa-card__body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="usa-card__footer">
                              <button class="usa-button">Visit Florida Keys</button>
                            </div>
                          </div>
                          </li>
                        </ul>
            <h4>Chapter Title</h4>
            <ul class="usa-card-group">
                <li class="usa-card usa-card--flag  desktop:grid-col-6">
                  <div class="usa-card__container">
                    <div class="usa-card__header">
                      <h2 class="usa-card__heading">Default flag</h2>
                    </div>
                    <div class="usa-card__media">
                      <div class="usa-card__img">
                        <img
                          src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                          alt="A placeholder image"
                        />
                      </div>
                    </div>
                    <div class="usa-card__body">
                      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    </div>
                    <div class="usa-card__footer">
                      <button class="usa-button">Visit Florida Keys</button>
                    </div>
                  </div>
                  </li>
                </ul>
                <ul class="usa-card-group">
                    <li class="usa-card usa-card--flag  desktop:grid-col-6">
                      <div class="usa-card__container">
                        <div class="usa-card__header">
                          <h2 class="usa-card__heading">Default flag</h2>
                        </div>
                        <div class="usa-card__media">
                          <div class="usa-card__img">
                            <img
                              src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                              alt="A placeholder image"
                            />
                          </div>
                        </div>
                        <div class="usa-card__body">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                        <div class="usa-card__footer">
                          <button class="usa-button">Visit Florida Keys</button>
                        </div>
                      </div>
                      </li>
                    </ul>
                    <ul class="usa-card-group">
                        <li class="usa-card usa-card--flag  desktop:grid-col-6">
                          <div class="usa-card__container">
                            <div class="usa-card__header">
                              <h2 class="usa-card__heading">Default flag</h2>
                            </div>
                            <div class="usa-card__media">
                              <div class="usa-card__img">
                                <img
                                  src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                                  alt="A placeholder image"
                                />
                              </div>
                            </div>
                            <div class="usa-card__body">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                            </div>
                            <div class="usa-card__footer">
                              <button class="usa-button">Visit Florida Keys</button>
                            </div>
                          </div>
                          </li>
                        </ul>
                        <ul class="usa-card-group">
                            <li class="usa-card usa-card--flag  desktop:grid-col-6">
                              <div class="usa-card__container">
                                <div class="usa-card__header">
                                  <h2 class="usa-card__heading">Default flag</h2>
                                </div>
                                <div class="usa-card__media">
                                  <div class="usa-card__img">
                                    <img
                                      src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg"
                                      alt="A placeholder image"
                                    />
                                  </div>
                                </div>
                                <div class="usa-card__body">
                                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                </div>
                                <div class="usa-card__footer">
                                  <button class="usa-button">Visit Florida Keys</button>
                                </div>
                              </div>
                              </li>
                            </ul>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab6">
        <label for="tab6" class="tabs__label">Regions</label>
        <div class="tabs__content">
            <h3>Regions</h3>
            <p>
                <img alt="NCA5 Regions Map" class="regions-img" 
                src="https://www.globalchange.gov/sites/globalchange/files/NCA%20regions_sm.png">
            </p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab7">
        <label for="tab7" class="tabs__label">Engagement</label>
        <div class="tabs__content">
            <h3>Engagement</h3>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore 
                et dolore magna aliqua. In vitae turpis massa sed. Et odio pellentesque diam volutpat commodo sed 
                egestas egestas fringilla. Amet cursus sit amet dictum sit amet justo donec. Porta lorem mollis 
                aliquam ut porttitor. Netus et malesuada fames ac turpis egestas sed tempus urna. Viverra tellus 
                in hac habitasse. Elementum curabitur vitae nunc sed velit dignissim. Cum sociis natoque penatibus 
                et. Netus et malesuada fames ac turpis egestas maecenas pharetra convallis.
            </p>
            <h4>Upcoming Opportunities</h3>
            <ul>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
            </ul>
            <p>
                Netus et malesuada fames ac turpis egestas 
                <a href="">Sign up for the Newsletter</a>
            </p>
            <h4>Related Opportunities</h3>
            <ul>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
              <li><a href="">Link</a></li>
            </ul>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab8">
        <label for="tab8" class="tabs__label">Workshops</label>
        <div class="tabs__content">
            <h3>Workshops</h3>
            <h4 class="workshop__month">January</h4>
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                  <ul class="usa-collection workshop__collection">
                      <li class="usa-collection__item">
                          <div class="usa-collection__body">
                              <h3 class="usa-collection__heading">
                                  <a
                                  class="usa-link"
                                  href="">
                                    Human Social Systems
                                  </a>
                                  <a href="">(PDF)</a>
                              </h3>
                              <p class="usa-collection__description">
                                  Workshop Description - Non diam phasellus vestibulum lorem sed risus ultricies. 
                                  Vitae sapien pellentesque habitant morbi. Risus pretium quam vulputate dignissim 
                                  suspendisse in est ante in.
                              </p>
                              <ul class="usa-collection__meta" aria-label="More information">
                                  <li class="usa-collection__meta-item">
                                      <time datetime="2020-09-30T12:00:00+01:00">January 11 | 12 PM–4 PM ET</time>
                                  </li>
                              </ul>
                              <ul>
                                  <li><a href="">Register</a></li>
                                  <li><a href="">Agenda</a></li>
                              </ul>
                          </div>
                      </li>
                      <li class="usa-collection__item">
                          <div class="usa-collection__body">
                              <h3 class="usa-collection__heading">
                                  <a
                                  class="usa-link"
                                  href="https://trumpadministration.archives.performance.gov/sba-wosb-dashboard/">
                                      Women-owned small business dashboard
                                  </a>
                              </h3>
                              <p class="usa-collection__description">
                                  In honor of National Women’s Small Business Month, we’ve partnered with
                                  SBA’s Office of Government Contracting and Business Development and
                                  Office of Program Performance, Analysis, and Evaluation to highlight the
                                  Women-Owned Small Businesses (WOSBs) data dashboard!
                              </p>
                              <ul class="usa-collection__meta" aria-label="More information">
                                  <li class="usa-collection__meta-item">By Constance Lu</li>
                                  <li class="usa-collection__meta-item">
                                      <time datetime="2020-09-30T12:00:00+01:00">September 30, 2020</time>
                                  </li>
                              </ul>
                              <ul class="usa-collection__meta" aria-label="Topics">
                                  <li class="usa-collection__meta-item usa-tag">SBA</li>
                              </ul>
                          </div>
                      </li>
                      <li class="usa-collection__item">
                          <div class="usa-collection__body">
                              <h3 class="usa-collection__heading">
                                  <a
                                  class="usa-link"
                                  href="https://trumpadministration.archives.performance.gov/September-2020-Updates-Show-Progress/">
                                      September 2020 updates show progress on cross-agency and agency priority goals
                                  </a>
                              </h3>
                              <p class="usa-collection__description">
                                  Today, we published progress updates for both Cross-Agency Priority
                                  (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of
                                  FY2020. These updates highlight recent milestones and accomplishments as
                                  well as related initiatives that support progress towards a more modern
                                  and effective government.
                              </p>
                              <ul class="usa-collection__meta" aria-label="More information">
                                  <li class="usa-collection__meta-item">By Eric L. Miller</li>
                                  <li class="usa-collection__meta-item">
                                      <time datetime="2020-09-17T12:00:00+01:00">September 17, 2020</time>
                                  </li>
                              </ul>
                              <ul class="usa-collection__meta" aria-label="Topics">
                                  <li class="usa-collection__meta-item usa-tag">Quarterly update</li>
                                  <li class="usa-collection__meta-item usa-tag">CAP goal</li>
                                  <li class="usa-collection__meta-item usa-tag">APG</li>
                                  <li class="usa-collection__meta-item usa-tag">PMA</li>
                                  <li class="usa-collection__meta-item usa-tag">Success story</li>
                              </ul>
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
              <h4 class="workshop__month">February</h4>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                  <ul class="usa-collection workshop__collection">
                      <li class="usa-collection__item">
                          <div class="usa-collection__body">
                              <h3 class="usa-collection__heading">
                                  <a
                                  class="usa-link"
                                  href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/">
                                      Gears of Government President’s Award winners
                                  </a>
                              </h3>
                              <p class="usa-collection__description">
                                  Today, the Administration announces the winners of the Gears of
                                  Government President’s Award. This program recognizes the contributions
                                  of individuals and teams across the federal workforce who make a
                                  profound difference in the lives of the American people.
                              </p>
                              <ul class="usa-collection__meta" aria-label="More information">
                                  <li class="usa-collection__meta-item">
                                      By Sondra Ainsworth and Constance Lu
                                  </li>
                                  <li class="usa-collection__meta-item">
                                      <time datetime="2020-09-30T12:00:00+01:00">September 30, 2020</time>
                                  </li>
                              </ul>
                              <ul class="usa-collection__meta" aria-label="Topics">
                                  <li class="usa-collection__meta-item usa-tag usa-tag--new">New</li>
                                  <li class="usa-collection__meta-item usa-tag">PMA</li>
                                  <li class="usa-collection__meta-item usa-tag">OMB</li>
                              </ul>
                          </div>
                      </li>
                      <li class="usa-collection__item">
                          <div class="usa-collection__body">
                              <h3 class="usa-collection__heading">
                                  <a
                                  class="usa-link"
                                  href="https://trumpadministration.archives.performance.gov/sba-wosb-dashboard/">
                                      Women-owned small business dashboard
                                  </a>
                              </h3>
                              <p class="usa-collection__description">
                                  In honor of National Women’s Small Business Month, we’ve partnered with
                                  SBA’s Office of Government Contracting and Business Development and
                                  Office of Program Performance, Analysis, and Evaluation to highlight the
                                  Women-Owned Small Businesses (WOSBs) data dashboard!
                              </p>
                              <ul class="usa-collection__meta" aria-label="More information">
                                  <li class="usa-collection__meta-item">By Constance Lu</li>
                                  <li class="usa-collection__meta-item">
                                      <time datetime="2020-09-30T12:00:00+01:00">September 30, 2020</time>
                                  </li>
                              </ul>
                              <ul class="usa-collection__meta" aria-label="Topics">
                                  <li class="usa-collection__meta-item usa-tag">SBA</li>
                              </ul>
                          </div>
                      </li>
                      <li class="usa-collection__item">
                          <div class="usa-collection__body">
                              <h3 class="usa-collection__heading">
                                  <a
                                  class="usa-link"
                                  href="https://trumpadministration.archives.performance.gov/September-2020-Updates-Show-Progress/">
                                      September 2020 updates show progress on cross-agency and agency priority goals
                                  </a>
                              </h3>
                              <p class="usa-collection__description">
                                  Today, we published progress updates for both Cross-Agency Priority
                                  (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of
                                  FY2020. These updates highlight recent milestones and accomplishments as
                                  well as related initiatives that support progress towards a more modern
                                  and effective government.
                              </p>
                              <ul class="usa-collection__meta" aria-label="More information">
                                  <li class="usa-collection__meta-item">By Eric L. Miller</li>
                                  <li class="usa-collection__meta-item">
                                      <time datetime="2020-09-17T12:00:00+01:00">September 17, 2020</time>
                                  </li>
                              </ul>
                              <ul class="usa-collection__meta" aria-label="Topics">
                                  <li class="usa-collection__meta-item usa-tag">Quarterly update</li>
                                  <li class="usa-collection__meta-item usa-tag">CAP goal</li>
                                  <li class="usa-collection__meta-item usa-tag">APG</li>
                                  <li class="usa-collection__meta-item usa-tag">PMA</li>
                                  <li class="usa-collection__meta-item usa-tag">Success story</li>
                              </ul>
                          </div>
                      </li>
                  </ul>
                </div>
              </div>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab9">
        <label for="tab9" class="tabs__label">FAQs</label>
        <div class="tabs__content FAQ">
            <h3>FAQs</h3>
            <p class="faq__question">What is the U.S. Global Change Research Program? What does it do?</p>
            <p>
                The U.S. Global Change Research Program (USGCRP) was mandated by Congress in the Global Change 
                Research Act of 1990 (GCRA) to coordinate “a comprehensive and integrated United States research 
                program which will assist the Nation and the world to understand, assess, predict, and respond 
                to human-induced and natural processes of global change.” USGCRP comprises 13 federal departments 
                and agencies that conduct or use research on global change and its impacts on society.
            </p>
            <p class="faq__question">What is the National Climate Assessment and why is it written?</p>
            <p>
                The GCRA mandates that USGCRP deliver a quadrennial assessment, which has become known as the 
                National Climate Assessment (NCA). The NCA is required to a) integrate, evaluate, and interpret 
                the findings of the Program and discuss the scientific uncertainties associated with such findings; 
                b) analyze the effects of global change on the natural environment, agriculture, energy production 
                and use, land and water resources, transportation, human health and welfare, human social systems, 
                and biological diversity; and c) analyze current trends in global change, both human-induced and 
                natural, and project major trends for the subsequent 25 to 100 years.
            </p>
            <p class="faq__question">How many NCAs are there?</p>
            <p>
                To date, four NCAs have been released. The first NCA was published in 2000, and the second was 
                published in 2009. More information on these reports can be accessed here. The third NCA, Climate 
                Change Impacts in the United States, was published in 2014 and can be accessed here. The fourth 
                NCA (NCA4) was delivered in two volumes, the Climate Science Special Report (CSSR) and Impacts, 
                Risks, and Adaptation in the United States. It was completed in 2018.
            </p>
            <p class="faq__question">NCA4 was released in two parts. Will that be the case for NCA5?</p>
            <p>
                Volume I of NCA4, the CSSR, was a comprehensive update on the state of the science of climate change 
                and its impacts. It was not intended to be a regular part of the NCA development process.
            </p>
            <p>
                NCA5 will draw heavily on the CSSR and, similar to previous NCAs, include chapters that focus on 
                the state of the science of climate and global change, responding fully to the GCRA mandate.
            </p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab10">
        <label for="tab10" class="tabs__label">Timeline</label>
        <div class="tabs__content">
            <h3>Timeline</h3>
            <h4>Month</h4>
            <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                  <ul class="usa-collection">
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-30T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">30</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/">
                            Gears of Government President’s Award winners
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          Today, the Administration announces the winners of the Gears of
                          Government President’s Award. This program recognizes the contributions
                          of individuals and teams across the federal workforce who make a
                          profound difference in the lives of the American people.
                        </p>
                      </div>
                    </li>
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-30T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">30</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/sba-wosb-dashboard/">
                            Women-owned small business dashboard
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          In honor of National Women’s Small Business Month, we’ve partnered with
                          SBA’s Office of Government Contracting and Business Development and
                          Office of Program Performance, Analysis, and Evaluation to highlight the
                          Women-Owned Small Businesses (WOSBs) data dashboard!
                        </p>
                      </div>
                    </li>
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-17T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">17</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/September-2020-Updates-Show-Progress/">
                            September 2020 updates show progress on cross-agency and agency priority goals
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          Today, we published progress updates for both Cross-Agency Priority
                          (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of
                          FY2020. These updates highlight recent milestones and accomplishments as
                          well as related initiatives that support progress towards a more modern
                          and effective government.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <h4>Month</h4>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                  <ul class="usa-collection">
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-30T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">30</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/">
                            Gears of Government President’s Award winners
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          Today, the Administration announces the winners of the Gears of
                          Government President’s Award. This program recognizes the contributions
                          of individuals and teams across the federal workforce who make a
                          profound difference in the lives of the American people.
                        </p>
                      </div>
                    </li>
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-30T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">30</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/sba-wosb-dashboard/">
                            Women-owned small business dashboard
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          In honor of National Women’s Small Business Month, we’ve partnered with
                          SBA’s Office of Government Contracting and Business Development and
                          Office of Program Performance, Analysis, and Evaluation to highlight the
                          Women-Owned Small Businesses (WOSBs) data dashboard!
                        </p>
                      </div>
                    </li>
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-17T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">17</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/September-2020-Updates-Show-Progress/">
                            September 2020 updates show progress on cross-agency and agency priority goals
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          Today, we published progress updates for both Cross-Agency Priority
                          (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of
                          FY2020. These updates highlight recent milestones and accomplishments as
                          well as related initiatives that support progress towards a more modern
                          and effective government.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <h4>Month</h4>
              <div class="grid-row grid-gap">
                <div class="tablet:grid-col-6">
                  <ul class="usa-collection">
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-30T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">30</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/presidents-winners-press-release/">
                            Gears of Government President’s Award winners
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          Today, the Administration announces the winners of the Gears of
                          Government President’s Award. This program recognizes the contributions
                          of individuals and teams across the federal workforce who make a
                          profound difference in the lives of the American people.
                        </p>
                      </div>
                    </li>
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-30T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">30</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/sba-wosb-dashboard/">
                            Women-owned small business dashboard
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          In honor of National Women’s Small Business Month, we’ve partnered with
                          SBA’s Office of Government Contracting and Business Development and
                          Office of Program Performance, Analysis, and Evaluation to highlight the
                          Women-Owned Small Businesses (WOSBs) data dashboard!
                        </p>
                      </div>
                    </li>
                    <li class="usa-collection__item">
                      <div class="usa-collection__calendar-date">
                        <time datetime="2020-09-17T12:00:00+01:00">
                          <span class="usa-collection__calendar-date-month">SEP</span>
                          <span class="usa-collection__calendar-date-day">17</span>
                        </time>
                      </div>
                      <div class="usa-collection__body">
                        <h3 class="usa-collection__heading">
                          <a
                          class="usa-link"
                          href="https://trumpadministration.archives.performance.gov/September-2020-Updates-Show-Progress/">
                            September 2020 updates show progress on cross-agency and agency priority goals
                          </a>
                        </h3>
                        <p class="usa-collection__description">
                          Today, we published progress updates for both Cross-Agency Priority
                          (CAP) Goals and Agency Priority Goals (APGs) for the third quarter of
                          FY2020. These updates highlight recent milestones and accomplishments as
                          well as related initiatives that support progress towards a more modern
                          and effective government.
                        </p>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
        </div>
    </div>
    <div class="text">
        {{ content }}
    </div>
</div>