---
layout: default
---
<link href="/assets/css/proto/assessment.scss" rel="stylesheet">
<div class="grid-container">
    <div class="tabs">
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab1" checked>
        <label for="tab1" class="tabs__label">Overview</label>
        <div class="tabs__content">
            <h3>Overview</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab2" checked>
        <label for="tab2" class="tabs__label">Mandate</label>
        <div class="tabs__content">
            <h3>Mandate</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab3" checked>
        <label for="tab3" class="tabs__label">Chapters</label>
        <div class="tabs__content">
            <h3>Chapters</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab4" checked>
        <label for="tab4" class="tabs__label">Roles</label>
        <div class="tabs__content">
            <h3>Roles</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab5" checked>
        <label for="tab5" class="tabs__label">Leadership</label>
        <div class="tabs__content">
            <h3>Leadership</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab6" checked>
        <label for="tab6" class="tabs__label">Regions</label>
        <div class="tabs__content">
            <h3>Regions</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab7" checked>
        <label for="tab7" class="tabs__label">Engagement</label>
        <div class="tabs__content">
            <h3>Engagement</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab8" checked>
        <label for="tab8" class="tabs__label">Workshops</label>
        <div class="tabs__content">
            <h3>Workshops</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab9" checked>
        <label for="tab9" class="tabs__label">FAQs</label>
        <div class="tabs__content">
            <h3>FAQs</h3>
            <p>Content</p>
        </div>
        <input type="radio" class="tabs__radio" name="tabs-example" id="tab10" checked>
        <label for="tab10" class="tabs__label">Timeline</label>
        <div class="tabs__content">
            <h3>Timeline</h3>
            <p>Content</p>
        </div>
    </div>
    <div class="text">
        {{ content }}
    </div>
</div>