---
layout: left-rail
---

<link href="/assets/css/proto/cart.scss" rel="stylesheet">

{% include patterns/step-indicator/step-indicator-jk.md %}
<div class="main-content">
    <div class="cart">
        <h3>Cart Items</h3>
        <div class="cart-items">
            <div class="left">
                <h5>Item Name</h5>
                <p>item id</p>
                <p>Format</p>
            </div>
            <div class="right">
                <label class="usa-label" for="fruit">Quantity</label>
                <div class="usa-combo-box cart-combo-box">
                    <select class="usa-select" name="fruit" id="fruit">
                        <option value="apple">1</option>
                        <option value="apricot">2</option>
                        <option value="avocado">3</option>
                        <option value="banana">4</option>
                        <option value="blackberry">5</option>
                        <option value="blood orange">6</option>
                        <option value="blueberry">7</option>
                        <option value="boysenberry">8</option>
                        <option value="breadfruit">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <p><a href="">Remove</a></p>
            </div>
        </div>
        <div class="cart-items">
            <div class="left">
                <h5>Item Name</h5>
                <p>item id</p>
                <p>Format</p>
            </div>
            <div class="right">
                <label class="usa-label" for="fruit">Quantity</label>
                <div class="usa-combo-box cart-combo-box">
                    <select class="usa-select" name="fruit" id="fruit">
                        <option value="apple">1</option>
                        <option value="apricot">2</option>
                        <option value="avocado">3</option>
                        <option value="banana">4</option>
                        <option value="blackberry">5</option>
                        <option value="blood orange">6</option>
                        <option value="blueberry">7</option>
                        <option value="boysenberry">8</option>
                        <option value="breadfruit">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
                <p><a href="">Remove</a></p>
            </div>
        </div>
    </div>
    <div class="shipping-details">
        <h3>Shipping Details</h3>
        <label class="usa-label" for="input-type-text">First Name</label>
        <input class="usa-input" id="input-type-text" name="input-type-text" />
        <label class="usa-label" for="input-type-text">Last Name</label>
        <input class="usa-input" id="input-type-text" name="input-type-text" />
        <label class="usa-label" for="input-type-text">Organization</label>
        <input class="usa-input" id="input-type-text" name="input-type-text" />
        <label class="usa-label" for="fruit">Country</label>
        <div class="usa-combo-box">
            <select class="usa-select" name="fruit" id="fruit">
                <option value="apple">1</option>
                <option value="apricot">2</option>
                <option value="avocado">3</option>
                <option value="banana">4</option>
                <option value="blackberry">5</option>
                <option value="blood orange">6</option>
                <option value="blueberry">7</option>
                <option value="boysenberry">8</option>
                <option value="breadfruit">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <label class="usa-label" for="input-type-text">Street Address</label>
        <input class="usa-input" id="input-type-text" name="input-type-text" />
        <div class="combo-input">
            <div class="unit-type">
                <label class="usa-label" for="fruit">Unit Type</label>
                <div class="usa-combo-box">
                    <select class="usa-select" name="fruit" id="fruit">
                        <option value="apple">1</option>
                        <option value="apricot">2</option>
                        <option value="avocado">3</option>
                        <option value="banana">4</option>
                        <option value="blackberry">5</option>
                        <option value="blood orange">6</option>
                        <option value="blueberry">7</option>
                        <option value="boysenberry">8</option>
                        <option value="breadfruit">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="unit-number">
                <label class="usa-label" for="input-type-text">Unit Number</label>
                <input class="usa-input" id="input-type-text" name="input-type-text" />
            </div>
        </div>
        <label class="usa-label" for="input-type-text">City</label>
        <input class="usa-input" id="input-type-text" name="input-type-text" />
        <div class="combo-input">
            <div class="state">
                <label class="usa-label" for="fruit">State</label>
                <div class="usa-combo-box">
                    <select class="usa-select" name="fruit" id="fruit">
                        <option value="apple">1</option>
                        <option value="apricot">2</option>
                        <option value="avocado">3</option>
                        <option value="banana">4</option>
                        <option value="blackberry">5</option>
                        <option value="blood orange">6</option>
                        <option value="blueberry">7</option>
                        <option value="boysenberry">8</option>
                        <option value="breadfruit">9</option>
                        <option value="10">10</option>
                    </select>
                </div>
            </div>
            <div class="zip">
                <label class="usa-label" for="input-type-text">ZIP Code</label>
                <input class="usa-input" id="input-type-text" name="input-type-text" />
            </div>
        </div>
        <label class="usa-label" for="input-type-text">Phone</label>
        <input class="usa-input" id="input-type-text" name="input-type-text" />
    </div>
</div>