---
layout: default
---
<link href="/assets/css/proto/landing-page.scss" rel="stylesheet">

<div class="header">
    {%if page.hero-image%}
        <div class="hero">
            <img class="hero-image" src="/assets/images/landing-page-hero.png"/>
            <div class="overlay"></div>
    {%endif%}
            <div class="intro-text">
                <h3>{{site.data.contentful.spaces.collections-landing-page.collections.collectionsLandingPage[0].page_title}}</h3>
                {{site.data.contentful.spaces.collections-landing-page.collections.collectionsLandingPage[0].summary}}
            </div>
        </div>
</div>
<div class="main-content">
    <div class="filters">
        <p><em>Filters</em></p>
        {%include patterns/accordion/accordion-jk.md%}
    </div>
    <div class="announcements_section">
        {%for item in page.highlights%}
            {% include patterns/highlights/highlights.md %}
        {%endfor%}
        <div class="pagination">
            {% include patterns/pagination/pagination.md %}
        </div>
    </div>
</div>