---
layout: left-rail
---
<link href="/assets/css/proto/highlight-detail.scss" rel="stylesheet">

<div class="header">
    <p><small>Posted {{page.post-date}}</small></p>
    <p class="page-intro">{{page.intro-text}}</p>
</div>
<div clsss="highlight-content">
    <img src="{{page.top-image}}">
    <p>{{page.highlight-content}}</p>
    <img src="{{page.image-2}}">
    <img src="{{page.image-3}}">
    <p class="caption"><small>{{page.caption}}</small></p>
</div>
<div class="highlight-agency">
    <h3 id="highlight__agency">Highlight Agencies</h3>
    <ul>
      <li><a href="">Department of Commerce</a></li>
      <li><a href="">Department of Defence</a></li>
      <li><a href="">Department of Health and Human Services </a></li>
    </ul>
</div>
<div class="source-report">
    <h3>Source Report</h3>
    <ul>
        <li><a href="">Our Changing Planet: The U.S. Global Change Research Program for Fiscal Year 2022</a></li>
    </ul>
</div>