---
layout: proto/left-rail
---
<link href="/assets/css/proto/highlight-detail.scss" rel="stylesheet">

<div class="header">
    <h1>{{site.data.contentful.spaces.highlights-page.highlight.highlights[0].agency_title}}</h1>
    <p><small>Posted {{page.post-date}}</small></p>
    <p class="page-intro">{{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[0].content}}</p>
</div>
<div class="highlight-image">
    <img src="{{site.data.contentful.spaces.highlights-page.highlight.highlights[0].agency_logo[0].url}}"/>
    <div class="caption-container">
        <span class="caption"><small>{{site.data.contentful.spaces.highlights-page.highlight.highlights[0].agency_logo[0].description}}</small></span>
    </div>
</div>
<div clsss="highlight-content">
    <p>
        {{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[1].content}}
    </p>
    <p>
        {{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[2].content}}
    </p>
    <p>
        <a href="{{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[3].url}}">
            {{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[3].link_text}}
        </a>
        {{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[3].content}}
    </p>
    {%if page.second-image %}
        <div class="mid-paragraph-img">
            <img src="https://via.placeholder.com/250"/>
            <div class="caption-container">
                <span class="caption"><small>{{page.caption}}</small></span>
            </div>
        </div>
    {%endif%}
    <p>
        {{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[4].content}}
    </p>
    <p>
        {{site.data.contentful.spaces.highlights-page.highlight.highlights[0].body[5].content}}
    </p>
</div>
<div class="highlight-agency">
    <h3 id="highlight__agency">Highlight Agencies</h3>
    <ul>
      <li><a href="">Department of Commerce</a></li>
      <li><a href="">Department of Defence</a></li>
      <li><a href="">Department of Health and Human Services </a></li>
    </ul>
</div>
<div class="source-report">
    <h3>Source Report</h3>
    <ul>
        <li><a href="">{{site.data.contentful.spaces.highlights-page.highlight.highlights[0].report[0].id}}</a></li>
    </ul>
</div>