---
layout: proto/left-rail
---
<link href="/assets/css/proto/indicators.scss" rel="stylesheet">

<div class="intro__text">
    <h1 style="line-height: 2.7rem;">{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].page_title}}</h1>
    <p class="small-text date__range">Date Range: {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].date}} - {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].end_date}}</p>
    <p>{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].opening_body[0].content}}</p>
</div>
<div class="headline">
    <h3>Headline</h3>
</div>
<div class="summary__blurb">
    <p>{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].headline_section}}</p>
</div>
<div class="visualizer">
    <img src="{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].indicator[0].url}}"/>
    <div class="visualizer__details">
        <div class="visualizer__links">
            <span><a href="">View Meta Data</a></span>
            <span><a href="">Enlarge</a></span>
            <span><a href="">Download</a></span>
        </div>
    </div>
</div>
<div class="contributers">
    <span>Contributers:</span><a href="">Contributer Name</a>,<a href="">Contributer Name</a></span>
</div>
<div class="body-text">
    <p class="indicator__desc">
        {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].indicator[0].media_meta_info}}
    </p>
    <p>{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[0].content}}</p>
    <ul>
        {%for item in site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[0].list%}
            <li>{{item.value}}</li>
        {%endfor%}
    </ul>
    <p>
        <em>
            {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[1].value}}
            <a href="{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[1].url}}">
                {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[1].link}}
            </a>
            {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[1].end}}
        </em>
    </p>
    <p>
        {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[2].value}}
        <a href="{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[2].url}}">
            {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[2].link}}
        </a>
    </p>
    <p>
        <a href="{{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[3].url}}">
            {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[3].link}}
        </a>
        {{site.data.contentful.spaces.indicator-page.indicator.indicatorPage[0].body[3].value}}
    </p>
    <h3 id="also-in-this-series">Related Resources</h3>
    <ul>
      <li><a href="">Related resource</a></li>
      <li><a href="">Related resource</a></li>
      <li><a href="">Related Resource</a></li>
      <li><a href="">Related Resource</a></li>
    </ul>
</div>
<div class="explore">
    <h3>Explore USGCRP Indicators</h3>
    <ul>
        <li><a href="">Atlantic Tropical Cyclone Days</a></li>
        <li><a href="">Heat Waves</a></li>
        <li><a href="">Marine Species Distribution</a></li>
    </ul>
</div>