---
layout: default
---
<link href="/assets/css/proto/landing-page.scss" rel="stylesheet">

<div class="header">
    <div class="intro-text">
        <h3>{{page.title}}</h3>
        {{page.intro-text}}
    </div>
    {%if page.hero-image%}
        <div class="hero">
            <img src="{{page.hero-image}}"/>
        </div>
    {%endif%}
</div>
<div class="main-content">
    <div class="filters">
        <p><em>Filters</em></p>
        {%include patterns/accordion/accordion-jk.md%}
    </div>
    <div class="announcements_section">
        {%for item in page.highlights%}
        <div class="announcement-wrapper">
            <div class="announcement">
                <img src="{{item.img}}"/>
                <div class="announcement-content">
                    <div class="announcement-header">
                        <h4>{{item.title}}</h4>
                        <span>{{item.date}}</span>
                    </div>
                    <p>{{item.content}}</p>
                    <a href="" class="announcement-link">{{item.link}}</a>
                    <a href="" class="announcemnt-link">Order Free</a>
                    <p class="highlight-tags">
                      <ul class="usa-collection__meta" aria-label="Topics" style="margin-left: 0rem;">
                          <li class="usa-collection__meta-item usa-tag usa-tag--new">{{item.tags}}</li>
                          <li class="usa-collection__meta-item usa-tag">{{item.tags}}</li>
                          <li class="usa-collection__meta-item usa-tag">{{item.tags}}</li>
                      </ul>
                    </p>
                </div>
            </div>
        </div>
        {%endfor%}
        <div class="pagination">
            {% include patterns/pagination/pagination.md %}
        </div>
    </div>
</div>