---
layout: default
categories: [prototype]
title: Sample Prototype Page - Resource (Video)
type: [sub-nav-item, prototype]
permalink: /prototype/test-page/
description: Sample prototype page, test component
---
<link href="/assets/css/proto/resource.scss" rel="stylesheet">

<div class="intro__text grid-container">
    {%if page.categories contains "video"%}
        <p class="small-text">Date: {{page.date}} | Length: {{page.video-length}}</p>
    {%else%}
        <p class="small-text">Date: {{page.date}}</p>
    {%endif%}
    <p>{{page.intro-text}}</p>
</div>
<div class="resource__section grid-container">
    {%if page.categories contains "video"%}
        <iframe width="420" height="315"
            src="{{page.video}}">
        </iframe>
        <div class="video__details">
            <div class="video__links">
                <span>[ Related Org Title | <a href="">Related Org Link</a> ]</span>
            </div>
        </div>
    {% endif %}
    {%if page.categories contains "podcast"%}
    <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" 
        src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/296997442&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true">
    </iframe>
    <div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;
        overflow: hidden;white-space: nowrap;text-overflow: ellipsis; 
        font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;
        font-weight: 100;">
        <a href="https://soundcloud.com/ambianceofficial" title="Ambiance" target="_blank" 
            style="color: #cccccc; text-decoration: none;">Ambiance</a> ·
             <a href="https://soundcloud.com/ambianceofficial/rapid-tide" title="Rapid Tide" target="_blank" 
                style="color: #cccccc; text-decoration: none;">Rapid Tide</a>
    </div>
    {% endif %}
    {%if page.categories contains "PDF" %}
        <div class="pdf__section grid-container">
            <div class="pdf">
                <img src="https://www.appliedstemcell.com/pub/media/wysiwyg/.thumbs/.placeholder/pdf.png">
            </div>
            <div class="pdf__details">
                <p>Title</p>
                <p>Author</p>
                <p>Publication Date</p>
                <button class="usa-button">Download<i class="fas fa-external-link-alt"></i></button>
            </div>
        </div>
    {% endif %}
    {%if page.categories contains "highlight" %}
        <div class="highlight__section">
            <div class="highlight">
                <img src="https://www.globalchange.gov/sites/globalchange/files/styles/resource_image/public/reports_images/USGCRP-OCP_FY22-Cover.png?itok=2XUy59CD">
            </div>
            <div class="highlight__details">
                <p>Organization</p>
                <p>Publication Year</p>
                <p><button class="usa-button">View</button></p>
                <button class="usa-button">Download</button>
            </div>
        </div>
    {% endif %}
</div>
<div class="body-text grid-container">
    <p>{{page.body-text}}</p>
    {{ content }}
    <h3 id="related__resources">Related Resources</h3>
    <ul>
      <li><a href="">Another video resource</a></li>
      <li><a href="">Maybe a PDF resource</a></li>
      <li><a href="">And why not an image </a></li>
      <li><a href="">Or even a highlight</a></li>
    </ul>
</div>