.annnouncement{
    .usa-collection__img{
        width: 10rem;
    }
    .usa-collection__item, .usa-prose .usa-collection__item{
        max-width: 100%;
    }
}
.announcement-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1rem;
    padding-bottom: 1rem;
    span{
        font-weight: bold;
    }
}
.usa-collection__heading{
    color:#053B59;
    a{
        text-decoration: none;
    }
}
.announcement-wrapper{
    margin-bottom: 30px;
    padding: 15px;
    border-top: 0;
}
.announcement-wrapper .announcement-header{
    border-bottom: 3px solid #0F9EFB;
}
.author{
    font-style: italic;
}
.fa-solid{
    color: green;
    margin-left: 5px;
}