---
---
<html>
    {% include partials/head.html %}
    <body>
        {% if page.type contains "prototype" %}
            {% include patterns/header/header-basic.md %}
            {% include patterns/breadcrumb/breadcrumb-jk.md}
        {% else %}
            <div class="header-container">
                {% include partials/lib/header.html %}
            </div> 
        {% endif %}
        <div class="header">
            {%if page.hero-image%}
                <div class="hero">
                    {% include patterns/breadcrumb/breadcrumb-jk.md}
                    <img class="hero-image" src="/assets/images/landing-page-hero.png"/>
                    <div class="overlay"></div>
            {%endif%}
                    <div class="intro-text">
                        <h3>{{page.page-title}}</h3>
                        <p>{{page.intro-text}}</p>
                    </div>
                </div>
        </div>
        {% if page.type contains "prototype" %}
            <div class="prototype-content">
                {{ content }}
            </div>
        {% else %}
            <div class="content">
                {{ content }}
            </div>
        {% endif %}
        {% if page.type contains "prototype" %}
            {% include patterns/footer/footer-small.md %}
        {% else %}
            {% include partials/lib/footer.html %}
        {% endif %}
        <script src="https://kit.fontawesome.com/7f6845086e.js" crossorigin="anonymous"></script>
        <script src="{{site.baseurl}}/assets/js/uswds.min.js"></script>
        <script src="{{site.baseurl}}/assets/customJS/nav_mobile.js"></script>
        <script src="{{site.baseurl}}/assets/customJS/template_img.js"></script>
        <script src="{{site.baseurl}}/assets/customJS/theme_mode.js"></script>
    </body>
</html>