.left-rail{
     min-width: 25%;
     background-color: #e4F0f7;
     font-family: 'Roboto', Arial, Helvetica, sans-serif;

     a{
        text-decoration: none;
        display: block;
        border-bottom:1px solid white;
        .left-rail-item{
            border-bottom:none;
            color:$denimcolor;
            padding:1rem 2rem;
            transition: all .3s;
            &:hover{
            background-color: #CBE7F7;
            }
        }
        
     }
}
.left-rail-title{
    margin-bottom: 0;
    a{
        margin-top:0;
        margin-bottom: 0;
        border-left: 6px solid $limecolor;
        text-transform: capitalize;
        color: black!important;
        font-weight: 600;
        padding:1rem 1.5rem;
        font-size: 1.2rem;
    }
}
.left-rail-item{
    border-bottom: 1px solid $inkcolor;
    width: 100%;
    padding: 10px;
    &.current{
        margin-top:0;
        margin-bottom: 0;
        text-indent: -6px;
        border-left: 6px solid $limecolor;
        text-transform: capitalize;
        text-decoration: none;
        color: black!important;
        font-weight: 600;
        padding:1rem;
    }
    &:hover{
        background-color: $gray-80;
    }
}
.third-level{
    padding-left: 15px;
}
//mobile
@media (max-width: $grid-md-max){ //USWDS tablet large breakpoint (880px)
    .left-rail{
       display: none;
    }
    .text{
        width: 100%;
        padding: 0px;
    }
}
