<ul class="agencies">
    <li><a class="USDA" href="/agency/department-agriculture"><img src="/assets/img/agencies/USDA-41px.png" alt="USDA"/></a></li>
    <li><a class="DOC" href="/agency/department-commerce"><img src="/assets/img/agencies/DOC-41px.png" alt="DOC"/></a></li>
    <li><a class="DOD" href="/agency/department-defense"><img src="/assets/img/agencies/DOD-41px.png" alt="DOD"/></a></li>
    <li><a class="DOE" href="/agency/department-energy"><img src="/assets/img/agencies/DOE-41px.png" alt="DOE"/></a></li>
    <li><a class="HHS" href="/agency/department-health-human-services"><img src="/assets/img/agencies/HHS-41px.png" alt="HHS"/></a></li>
    <li><a class="DOI" href="/agency/department-interior"><img src="/assets/img/agencies/DOI-41px.png" alt="DOI"/></a></li>
    <li><a class="DOS" href="/agency/department-state"><img src="/assets/img/agencies/DOS-41px.png" alt="DOS"/></a></li>
    <li><a class="DOT" href="/agency/department-transportation"><img src="/assets/img/agencies/DOT-41px.png" alt="DOT"/></a></li>
    <li><a class="EPA" href="/agency/environmental-protection-agency"><img src="/assets/img/agencies/EPA-41px.png" alt="EPA"/></a></li>
    <li><a class="NASA" href="/agency/national-aeronautics-space-administration"><img src="/assets/img/agencies/NASA-41px.png" alt="NASA"/></a></li>
    <li><a class="NSF" href="/agency/national-science-foundation"><img src="/assets/img/agencies/NSF-41px.png" alt="NSF"/></a></li>
    <li><a class="SI" href="/agency/smithsonian-institution"><img src="/assets/img/agencies/SI-41px.png" alt="SI"/></a></li>
    <li><a class="USAID" href="/agency/agency-international-development"><img src="/assets/img/agencies/USAID-41px.png" alt="USAID"/></a></li>
</ul>