.social-button {
    width: auto;
    padding: 15px;
    font-weight: 700;
}

.usa-footer__logo-img {
    max-width: 50px;
    height: auto;
}

.usa-footer__nav ul {
    max-width: 100%;
}
ul.agencies {
    margin: 0;
    max-width: 100%;
}