.z-index{
    z-index: 0;
}


#-logo {
    display: flex;
    img {
        max-width: 90px;
        height: auto;
        padding-right: 5px;
    }
    .usa-logo__text {
       padding-top: 10px;
    }
}

.nav-button {
    border: 1px solid #025da2;
    border-radius: 2px;
    position: absolute;
    right: 5px;
}