.agencies li {
    display: inline;
    list-style-type: none;
}

.usa-identifier__container .small-text {
    font-style: italic;
}

.usa-identifier__container a {
    color: white;
}

.usa-identifier__container ul {
    max-width: 100%;
}